 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <style>
                    .decs{
                        position:relative;
                        height:.3em;
                        width: auto;
                        left:-97px;
                        top: -60px;
                        bottom:auto;
                    }
                    </style>
                
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Frost is Stanford University's annual music and arts festival. Frost has traditionally been held in Frost Amphitheater, which has been closed for the past couple of years. We are pleased to announce that this year's festival will be in the newly renovated Frost Amphitheater. All are welcome to purchase tickets, whether you are a </p>
                </div>
                <div class="col-lg-4">
                    <p> student, faculty member, alum, or simply live nearby. Enjoy a showcase of student art and attend an exciting performance from Jorja Smith, Kali Uchis and a student opener. Food and beverages will be available for purchase from various food trucks and artist merchendice will also be for sale. All tickets are general admission.</p>
                </div>
            </div>
        </div>
    </section>
